<!-- Setup a basic layout with Angular Material -->
<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>COMP-1073 Group-3 MongoDB Records</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-student">
        <mat-icon>add</mat-icon> Add Student
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/students-list">
        <mat-icon>format_list_bulleted</mat-icon> View Students
      </a>

      <!-- Our newly added stuff -->

      <a mat-list-item routerLinkActive="active" routerLink="/add-nintendo">
        <mat-icon>add</mat-icon> Add Nintendo
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/nintendo-list">
        <mat-icon>format_list_bulleted</mat-icon> View Nintendo
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-xbox">
        <mat-icon>add</mat-icon> Add Xbox
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/xbox-list">
        <mat-icon>format_list_bulleted</mat-icon> View Xbox
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-PC">
        <mat-icon>add</mat-icon> Add PC
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/PC-list">
        <mat-icon>format_list_bulleted</mat-icon> View PC
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-PC">
        <mat-icon>add</mat-icon> Add PlayStation
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/PC-list">
        <mat-icon>format_list_bulleted</mat-icon> View PlayStation
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-mobile">
        <mat-icon>add</mat-icon> Add Mobile
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/mobile-list">
        <mat-icon>format_list_bulleted</mat-icon> View Mobile
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
