<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Xbox Game</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="xboxForm" (ngSubmit)="submitXboxForm()" #resetXboxForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Game -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Game" formControlName="game">
          <mat-error *ngIf="handleError('game', 'required')">
            You must provide a<strong>game</strong>
          </mat-error>
        </mat-form-field>

        <!-- Dev -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dev" formControlName="dev">
          <mat-error *ngIf="handleError('dev', 'required')">
            You must provide a<strong>developer</strong>
          </mat-error>
        </mat-form-field>

        <!-- System -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="System" formControlName="system">
          <mat-error *ngIf="handleError('system', 'required')">
            You must provide a<strong>system</strong>
          </mat-error>
        </mat-form-field>

        <!-- Release -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Release" formControlName="release"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('release', 'required')">
            Release is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>